Source: cumulocity-agent
Version: 4.2.8
Priority: optional
Section: embedded
Maintainer: Software AG Cumulocity IoT <Helpdesk-CumulocityIoT@softwareag.com>
Package: cumuloctiy-agent
Architecture: armhf
Depends: liblua5.2-0, libstdc++6, libc6, libcurl3
Description: Generic Linux agent for Cumulocity IoT integration.
