[Unit]
Description=cumulocity-agent
After=network.target

[Service]
Type=idle
ExecStart=$PREFIX/bin/srwatchdogd $PREFIX/bin/cumulocity-agent 240

[Install]
WantedBy=multi-user.target
