Source: cumulocity-agent
Version: 4.2.9
Priority: optional
Section: embedded
Maintainer: Software AG Cumulocity IoT <Helpdesk-CumulocityIoT@softwareag.com>
Package: cumulocity-agent
Architecture: amd64
Depends: liblua5.3-0, libmodbus5, libstdc++6, libc6, libcurl4-gnutls-dev
Description: Generic Linux agent for Cumulocity IoT integration.
